<html>
<header>
    <meta charset="utf-8">
    <title>Property Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
     <link href="css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>   
    <script src="javascript/lokacija.js"></script>
</header>
<body ng-app="lokApp" ng-controller="lokCtrl">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="index.html">Property Manager</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li> <a href="lokacija.html">Lokacije</a></li>
              <li><a href="nepremicnina.html">Nepremičnine</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<div class="container">

<h3>Vnesi lokacijo</h3>
<form>
Kraj: <input id="kraj" type="text" ng-model="kraj"><br>
Regija: <input id="regija" type="text" ng-model="regija"><br>
<button id="dodaj">Dodaj</button>
</form>

<table style="width:50%">
  <tr>
    <th style="text-align: left">#</th>
    <th style="text-align: left">Kraj</th>
    <th style="text-align: left">Regija</th> 
    <th style="text-align: left">Podrobnosti</th>
  </tr>
  <tr ng-repeat="x in myData">
    <td>{{x.id}}</td>
    <td>{{x.kraj}}</td>
    <td>{{x.regija}}</td>
    <td><a href="#{{x.id}}">podrobnosti</a></td>
  </tr>
</table>

<div ng-view>
</div>
<p ng-bind="message"></p>
<button id="sin">Sinhroniziraj</button>
</div> <!-- /container -->
</body>
</html>