<html>
<head>
    <meta charset="utf-8">
    <title>Property Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
     <link href="css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="javascript/nepremicnina.js"></script>
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="index.html">Property Manager</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li> <a href="lokacija.html">Lokacije</a></li>
              <li><a href="nepremicnina.html">Nepremičnine</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<div class="container">
<h1>Nepremičnine</h1>
<div  ng-app="nepApp" ng-controller="nepCtrl">
<form>
    <fieldset>
		<legend>Vnos nepremičnine</legend>
		Posredovanje:
		<select name="posredovanje" id="posredovanje" ng-model="posredovanje">
  			<option value="prodaja">Prodaja</option>
  			<option value="nakup">Nakup</option>
  			<option value="oddaja">Oddaja</option>
 			<option value="najem">Najem</option>
		</select>
		<br/>
		Vrsta: 
		<select name="vrsta" id="vrsta" ng-model="vrsta">
  			<option value="stanovanje">Stanovanje</option>
  			<option value="hisa">Hiša</option>
  			<option value="vikend">Vikend</option>
 			<option value="posest">Posest</option>
 			<option value="poslovniProstor">Poslovni prostor</option>
  			<option value="garaza">Garaža</option>
  			<option value="pocitniskiObjekt">Počitniški objekt</option>
		</select>
		<br/>
		Velikost: <input type="number" name="velikost" id="velikost" ng-model="velikost" min="1" max="10000" step="1" value="100"> m2<br/>
		Cena: <input type="number" name="cena" id="cena" ng-model="cena" min="0" max="1000000" step="10" value="1000"> €<br/>
		Opis: <br/><textarea name="opis" id="opis" ng-model="opis" rows="7" cols="40" required></textarea><br/>
		Lokacija:
		<select name="lokacija" id="lokacija" ng-model="lokacija">
			<option ng-repeat="x in chooseLokacija" value="{{x.id}}">{{x.kraj}}</option>
		</select>
		<br/>
		<br/>
		<input type="reset" value="Ponastavi">
		<button id="dodaj">Dodaj</button>
	</fieldset>
</form>

<table style="width:50%">
  <tr>
    <th style="text-align: left">#</th>
    <th style="text-align: left">Posredovanje</th>
    <th style="text-align: left">Vrsta</th> 
    <th style="text-align: left">Velikost</th>
    <th style="text-align: left">Lokacija</th>
  </tr>
  <tr ng-repeat="x in myData">
    <td>{{x.id}}</td>
    <td>{{x.posredovanje}}</td>
    <td>{{x.vrsta}}</td>
    <td>{{x.velikost}}</td>
    <td>{{x.lokacija.kraj}}</td>
    <td><a href="#{{x.id}}">podrobnosti</a></td>
  </tr>
</table>

<div ng-view>
</div>
<p ng-bind="message"></p>
<button id="sin">Sinhroniziraj</button>


</div>
</div> <!-- /container -->
</body>
</html>